.artshub-logo {
  position: absolute;
  left: 50%;
  top: 30%;
}
.artcard {
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.25);
}
/* .artcard:hover {
  box-shadow: -15px -15px 0px rgba(0, 0, 0, 0.25);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
} */
img {
  box-reflect: below;
}