.artshub-logo {
  position: absolute;
  left: 50%;
  top: 30%;
}
.artcard {
  /* box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.25); */
  border: 1px solid #ddd;
}
/* .artcard:hover {
  box-shadow: -15px -15px 0px rgba(0, 0, 0, 0.25);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
} */
#loader {
  /* Uncomment this to make it run! */
  /*
     animation: loader 5s linear infinite; 
  */
  
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #000;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}
.imageWrapper {
  position: relative;
}
 .overlay {
  position: absolute;
  transition: all .3s ease-out;
  display: none;
  left: 40%;
  top: 40%;
}
.imageWrapper > img {
  box-shadow: 5px 10px 25px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 10%);
  transition: all .3s ease-in;
}
.imageWrapper > img:hover {
  transform: scale(1.1);
  transition: all .3s ease-out;
}
.imageWrapper > img:hover + .overlay {
  display: flex;
  transition: all .3s ease-in;
}
